
.card-columns {
    margin: 0px 300px;
}

.main-img {
    margin-top: 3%;
    height: 400px;
    width: 100%;
    background-image: url("https://src.hidoc.co.kr/image/lib/2020/10/14/1602663615388_0.jpg");
    display: flex;
}

