<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <meta property="og:title" content="테이스티 서울"/>
    <meta property="og:description" content="테이스티 서울"/>
    <meta property="og:image" content=""/>

    <!--css-->

    <style>
        .main-img {
            height: 200px;
            width: 100%;
            background-color: cadetblue;
            display: flex;
        }

        .write-button {
            float: right;
            margin-top: 10px;
        }

        .search-box {
            text-align: center;
            margin-top: 40px;

        }

        .search {
            width: 500px;
        }

        .card-columns {
            margin-top: 30px;
        }

        .h1-box {
            display: flex;
            margin: auto;
            align-items: center;


        }
    </style>
</head>

<body>
<div class="main-img">
    <div class="h1-box">
        <h1>Tasty Seoul</h1>
    </div>

</div>

<a class="button level-item has-text-centered" aria-label="edit" onclick='$("#modal-edit").addClass("is-active")'>
    게시물 작성하기<span class="icon is-small"><i class="fa fa-pencil" aria-hidden="true"></i></span>
</a>

<label for="site-search"></label>

<div class="search-box">
    <input type="search" class="search"
           aria-label="Search through site content"
           placeholder="원하시는 장소를 검색해주세요 :)">

    <button class="search-button">장소검색</button>
</div>


<div class="card-columns">
    <div class="card-box">
        <div class="card">
            <img class="card-img-top" src="https://cdn.mkhealth.co.kr/news/photo/201806/img_MKH180615003_0.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">스파르타 족발</h5>
                <p class="card-text">서울 영등포구 신풍로 76 1층 2호</p>
                <button type="button" class="btn btn-primary">좋아요 👍</button>
                <span>0</span>
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="card">
            <img class="card-img-top" src="https://cdn.mkhealth.co.kr/news/photo/201806/img_MKH180615003_0.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">스파르타 족발</h5>
                <p class="card-text">서울 영등포구 신풍로 76 1층 2호</p>
                <button type="button" class="btn btn-primary">좋아요 👍</button>
                <span>0</span>
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="card">
            <img class="card-img-top" src="https://cdn.mkhealth.co.kr/news/photo/201806/img_MKH180615003_0.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">스파르타 족발</h5>
                <p class="card-text">서울 영등포구 신풍로 76 1층 2호</p>
                <button type="button" class="btn btn-primary">좋아요 👍</button>
                <span>0</span>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-edit">
    <div class="modal-background" onclick='$("#modal-edit").removeClass("is-active")'></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <label class="label" for="name">#맛집이름</label>
                        <p class="control">
                            <input id="name" class="input" placeholder="맛집의 이름은 무엇인가요?">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label" for="input-pic">#맛집사진</label>
                        <div class="control is-expanded">
                            <div class="file has-name">
                                <label class="file-label" style="width:100%">
                                    <input id="file" class="file-input" type="file"
                                           name="resume">
                                    <span class="file-cta"><span class="file-icon"><i
                                            class="fa fa-upload"></i></span>
                                <span class="file-label">이미지 선택하기</span>
                            </span>
                                    <span id="file-name" class="file-name"
                                          style="width:100%;max-width:100%"></span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="textarea-about">#리뷰 작성하기</label>
                        <p class="control">
                        <textarea id="comment" class="textarea"
                                  placeholder="맛집에 대한 리뷰를 작성해주세요!"></textarea>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-gogo" onclick="posting()">작성하기</a>
                            </div>
                            <div class="level-item">
                                <a class="button is-gogo is-outlined"
                                   onclick='$("#modal-edit").removeClass("is-active")'>취소</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"
            onclick='$("#modal-edit").removeClass("is-active")'></button>

</body>

</html>