<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- 구글폰트 -->
    <link
            href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
            rel="stylesheet"
    />

    <title>테이스티 서울</title>
    <meta property="og:title" content="테이스티 서울"/>
    <meta property="og:description" content="테이스티 서울"/>
    <meta property="og:image" content=""/>
    <!-- style -->
    <style>
        body {
            width: 100%;
            background-color: red;
            position: relative;
        }

        .wrap {
            text-align: center;
            background-color: white;
            width: 768px;
            height: 100vh;
            margin: auto;
        }
    </style>
    <script>
        function login_in() {
            let email = $("#email-input").val()
            let password = $("#password-input").val()

            if (email == "") {
                $("#help-id-login").text("아이디를 입력해주세요.")
                $("#email-input").focus()
                return;
            } else {
                $("#help-id-login").text("")
            }

            if (password == "") {
                $("#help-password-login").text("비밀번호를 입력해주세요.")
                $("#password-input").focus()
                return;
            } else {
                $("#help-password-login").text("")
            }
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    email_give: email,
                    password_give: password
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        console.log(response['token'])

                        $.cookie('mytoken', response['token'], {path:'/'});
                        {#alert('멈춰')#}
                        {#alert("로그인")#}
                        {#window.location.href = '/'#}
                    } else {
                        alert(response['msg'])
                    }
                }
            });
        }


    </script>
</head>

<body>
<div>
    <div class="background">
        <div class="wrap">
            <div><h1>로그인 페이지</h1></div>
            <form>
                <div class="mb-3">
                    <label for="email-input" class="form-label">이메일</label>
                    <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="password-input">
                </div>
                <button class="level-item button is-sparta" onclick="login_in()">
                                로그인
                            </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
